[submodule "vendor/c_exception"]
	path = vendor/c_exception
	url = git://github.com/nbarendt/CException.git
[submodule "vendor/unity"]
	path = vendor/unity
	url = git://github.com/nbarendt/Embunity.git
